
a{
    text-decoration: none;
    color: black;

    transition: all 0.3s ease;
}
a:hover{
    color: deepskyblue;
}

.nav{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    background-color: white;
    position: fixed;
    z-index: 10;
}

.hd-left{
    margin-left: 10px;
    line-height: 50px;
    font-size: 18px;
}

.hd-right{
    width: 320px;
    line-height: 50px;
    margin-right: 10px;
}

.hd-right ul{
    list-style: none;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;

    overflow: hidden;
}

.hd-right ul li {
    width: 50px;
    display: flex;
    justify-content: center;
    align-content: center;

    position: relative;
    overflow: hidden;
}

.hd-right ul li::after{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    bottom: 0;
    background-color: transparent;

    transition: all 0.3s ease;
}
.hd-right ul li:hover::after{
    background-color: deepskyblue;
    width: 20px;
}

.info-select{
    width: 200px;
    outline:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;

    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

