{% extends "base.html" %}
{% block main %}

<div class="splash-container">
    <div class="splash">
        <h1>
            Xmind to Zantao
        </h1>
        <div class="splash-head">
            <div class="select-xmind splash-subhead">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label id="file-label" for="file">点击这里选择Xmind文件</label>
                    <input id="file" accept=".xmind" type="file" name="file" required/><br>
                    <input type="submit" class="pure-button "
                           value="开始转换"/>
                </form>
            </div>
            {% if records %}
                <table class="pure-table recent-xminds">
                    <thead>
                    <tr>
                        <th width="60%">文件</th>
                        <th width="15%">时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in records %}
                        <tr>
                            <td title="{{ record[1] }}"> {{ record[0] }}</td>
                            <td>{{ record[2] }}</td>
                            <td><a href="{{ url_for('download_xmind_file',filename=record[1]) }}">下载</a> |
{#                                <a href="{{ url_for('download_csv_file',filename=record[1]) }}">CSV</a> |#}
                                <a href="{{ url_for('preview_file',filename=record[1]) }}">预览转换</a> |
                                <a href="{{ url_for('delete_file',filename=record[1], record_id=record[4]) }}"> 删除</a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <p>Welcome! Xmind2Zantao is a tool to help you convert xmind file to zantao csv file, and then you
                    will be able to import the csv into Zantao. </p>
                <p>Are you ready? Upload your xmind file now.</p>
            {% endif %}
        </div>
    </div>

<script>
    document.getElementById("file").addEventListener("change", function () {
        if (this.value) {
            document.getElementById("file-label").innerHTML = this.value.split("\\").pop();
        }
    });

</script>
{% endblock %}